<form class="form" [formGroup]="taskForm" (submit)="submit()">
  <input
    class="form-title"
    type="text"
    placeholder="Reasearch articles Saturday evemning"
  />
  <input class="form-description" type="text" placeholder="Description" />
  <div class="controls-container">
    <button><mat-icon fontSet="material-icons-outlined">date_range</mat-icon> Date</button>
    <button><mat-icon fontSet="material-icons-outlined">flag</mat-icon> Priority</button>
    <button><mat-icon fontSet="material-icons-outlined">alarm</mat-icon> Reminders</button>
    <button><mat-icon fontSet="material-icons-outlined">more_horiz</mat-icon></button>
  </div>
  <mat-divider></mat-divider>
  <div class="footer-container">
    <button class="footer-inbox-button"><mat-icon fontSet="material-icons-outlined">move_to_inbox</mat-icon>Inbox</button>
    <div class="form-action-buttons">
      <button class="cancel-button">Cancel</button>
      <button class="add-button">Add task</button>
    </div>
  </div>
</form>

 
 
 

